html,body{
background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;        
  color: white;
        font-family: sans-serif;
        text-align: center;
        background-position:center;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }
    h1{
        margin-top: 64px;
    }
    h2{
        margin-top: 8px;
    }
    h3{
        margin-top: 12px;
    }
    h4{
        margin-top: 4px;
    }
      a {
        color: white;
        text-decoration: none !important;
      }
      .hydroflame521 {
           border: 16px solid white;
           border-radius: 50%;
           border-top: 16px solid red;
           width: 120px;
           height: 120px;
           -webkit-animation: spin 2s linear infinite; 
           animation: spin 2s linear infinite;
}
* {
  margin: 0;
  padding: 0;
}
.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
